* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.flag {
    width: 500px;
    height: 300px;
    background-color: orange; 
    position: relative;
}

.horizontal-strip {
    display: flex;
    width: 100%;
    height: 60%;
    background-color: white; 
    margin: auto;
    position: relative;
    top: 20%; 
}

.v {
    width: 25%;
    height: 100%;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: #00BFFF;
}

.black {
    background-color: black;
}
