.ex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.strong {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.border {
    margin: auto;
    border: 2px solid red;
    border-bottom: none;
    width: 500px;
    height: 558px;
    place-items: center;
    justify-content: center;
}

.pink {
   
    display: flex;
    width: 100%;
    height: 200px;
    background-color: rgb(249, 124, 249);
    align-items: center;
    justify-content: center;
}

.white {
    display: flex;
    align-items: center;
    background-color: white;
    width: 70%;
    height: 55%;
    justify-content: center;
}

.black {
    display: flex;
    background-color: black;
    width: 70%;
    height: 35%;
   
}
.men {
    display: flex;
    width: 100%;
    height: 20px;
    background-color: grey; 
    text-align: center; 
    margin: auto;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;

}

.box {
   width: 25%;
   height: 100px;
}

.b1 { background-color: red;}
.b2 { background-color: orange;}
.b3 { background-color: aqua;}
.b4 { background-color: yellow;}

.flx3 {
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.flex3 {
    display: flex;
    align-items: center;
    justify-content: flex-start
}
.blokleft{
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 33.3%;
    height: 200px;
    align-items: flex-start;
}
.gtext{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
}
.textleft {
    height: 15px;
}
.wrap_left{
    display: flex;
    width: 100%;
    height: 100%;
    background-color:green;
    display: flex;
    flex-direction: column;
    align-items:center
}
.orang_top{
    display: flex;
    justify-content: center;
    background-color: orange;
    width: 70%;
    height: 20%;
}
.vertikal_color{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    height: 80%;
}
.pink_left_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(224, 160, 182);
}
.gold_left_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: yellow;
}
.blocC{
    display: flex;
    background-color:aqua;
    width: 33.3%;
    height: 200px;
    align-items: flex-start;
    flex-direction: column;
}
.centaltext{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
}
.wrap_centarl {
    display: flex;
    width: 100%;
    height: 100%;
    background-color:rgb(72, 99, 72);
    align-items: flex-start;
}
.Columnn{
    width: 33.34%;
    height: 100%;
}
.Column1{
    background-color: red;
}
.Column2{
    display: flex;
    background-color: yellow;
    flex-direction: column;
}
.Atext{
    display: flex;
    justify-content: center;
    font-style: italic;
    width: 100%;
    height: 10%;
}
.two1 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: yellow;
    align-items: flex-end;
}
.a_c {width: 50%; height: 100%; background-color:orange;}
.b_c {width: 50%; height: 40%; background-color:red;}

.Column3 { 
    background-color: orange;}

.blocR{
    display: flex;
    background-color:blue;
    width: 33.4%;
    height: 200px;
    align-items: flex-start;
    flex-direction: column;
}
.wrap_right {
    display: flex;
    align-items: flex-end;
    background-color: blue;
    height: 100%;
    width: 100%;
}
.last{
    width: 33.4%;
}
.air{
    height: 50%;
}
.last_l {
    height: 31%;
    background-color:aqua;
}
.last_c {
    background-color: yellow;
    margin-bottom: 10%;
}
.last_r{
    background-color: orange;
    margin-bottom: 34%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    

}
.blacktext1_wrap {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 50%;
}

.blacktext2_wrap {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content:  flex-start;
    align-items:center;
}
.blacktext {
    display: flex;
    width: 60%;
    background-color:black;
    color: aqua;
    justify-content: center;
    font-style: italic;
    font-size: 15px;
}